<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Single Comment</title>
</head>
<body>
    <div th:object="${gcomment}">
        <h1>User: <span th:text="*{user}"></span></h1>
        <p>For game id: <span th:text="*{gId}"></span></p>
        <p>Rating: <span th:text="*{rating}"></span></p>
        <p><span th:text="*{cText}"></span></p>
    </div>
    <a href="/">Back to Search</a>
</body>
</html>